<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../../stylesheets/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        
    <!-- board Custom CSS -->
    <link href="../../stylesheets/shop-homepage.css" rel="stylesheet">

    <style>
        .upload {text-align:right;margin-right:20px;}
    </style>

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/main">CHASE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#page-top">What is Chase?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">매뉴얼</a>
                    </li>
                    <li>
                        <a href="/material/1/1">자료실</a>
                    </li>
                    <li>
                        <a href="/fnq/1">Q &amp; A</a>
                    </li>
                    <li>
                        <a href="/mail/1">메시지</a>
                    </li>
                    <li>
                        <a href="mypage"><span class="loginid"><%=login_id%></span>님의 마이페이지</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Board Section -->
    <!-- Page Content -->
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Question Board</p>
                <div class="list-group">
                    <a href="/fnq" class="list-group-item">F &amp; Q</a>
                    <a href="/qna" class="list-group-item category_selected">Q &amp; A</a>
                </div>
            </div>
            
            <div class="col-md-9">
                <div class="upload">
                    <button type="button" class="btn" onclick="document.location.href='/qna/1'">List</button>
                </div>
                <br>
                <form name="sentMessage" id="contactForm" method="post">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <div class="col-xs-2">
                                <p>Title</p>
                            </div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" value="<%=question_title%>" name="question_title" readonly>
                                    <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <div class="col-xs-2">
                                <p>Writer</p>
                            </div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" value="<%=question_id%>" name="question_title" readonly>
                                    <p class="help-block text-danger"></p>
                                    </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <div class="col-xs-2">
                                <p>Text</p>
                            </div>
                            <div class="col-xs-10">
                                <textarea rows="5" class="form-control" name="question_text" readonly><%=question_text%></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <div class="col-xs-2">
                                <p>Answer</p>
                            </div>
                            <div class="col-xs-10">
                                <textarea rows="3" class="form-control" name="question_answer"><%=question_answer%></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12 text-center">
                            <button type="submit" class="btn btn-success btn-lg">Upload</button>
                            <button type="button" class="btn btn-success btn-lg" onclick="document.location.href='/qna/1'">Back</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
        
    </div>
    <!-- /.container -->
    <!------------------->

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Team Peak</h3>
                        <p>컴퓨터공학과 201333793 이지은<br>컴퓨터공학과 201433822 양지아<br>컴퓨터공학과 201333596 조창미</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contact us</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>College</h3>
                        <p>가천대학교<br><a href="www.gachon.ac.kr">www.gachon.ac.kr</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; CHASE 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="../../javascripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


    <!-- Theme JavaScript -->
    <script src="../../javascripts/freelancer.min.js"></script>

</body>

</html>
